* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas', monospace;
    user-select: none;
}

.body {
    overflow: hidden;
}

.body__background {
    position: fixed;
    top: -1rem;
    left: -1rem;
    width: 120%;
    height: 120%;
    z-index: -1;
    overflow: hidden;
}

.body__background-image {
    width: 110%;
    height: 110%;
    object-fit: cover;
    filter: blur(6px);
}


.body__background-image {
    width: 110%;
    height: 110%;
    object-fit: cover;
    filter: blur(6px);
    transition: filter 1s ease;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 15%;
    height: 100%;
    background: linear-gradient(135deg, rgba(196, 83, 248, 0.09), rgba(83, 196, 248, 0.09));
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mobile-menu__list li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.mobile-menu__close {
    background: none;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1.5rem;
    padding: 0;
}

.mobile-menu__close-icon {
    width: 28px;
    height: 28px;
    transition: filter 0.3s;
}

.mobile-menu__close:hover .mobile-menu__close-icon {
    filter: brightness(0.8);
}


.header {
    position: relative;
    padding: 1.5rem;
    height: 60px;
    transition: opacity 0.3s ease, visibility 0.3s ease;

}

.header.hiden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.header__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 32px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.about-page .header__icon {
    display: none;
}

.header__icon:hover {
    transform: scale(1.1);
}


ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    letter-spacing: 5px;
}

.main-page__nav {
    gap: 10rem;
}

li {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
    font-weight: bold;
}

li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease;
}

li:hover::after {
    width: 100%;
}

li.active::after {
    width: 100%;
}


.main-page__container {
    position: absolute;
    /* Usamos posición absoluta para colocarlo respecto al viewport */
    top: 50%;
    /* Lo posiciona verticalmente al 50% */
    left: 50%;
    /* Lo posiciona horizontalmente al 50% */
    transform: translate(-50%, -50%);
    /* Ajusta la posición para centrarlo perfectamente */

    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(196, 83, 248, 0.09), rgba(83, 196, 248, 0.09));
    width: 60%;
    padding: 2rem 0;
    border-bottom: white 1px solid;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


/* Animación para el título (zoom y fade-in) */
.main-page__container-title {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    opacity: 0;
    transform: scale(0.8);
    animation: zoomFadeIn 0.5s forwards;
}

@keyframes zoomFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Animación para el subtítulo (aparece después del título) */
.main-page__container-subtitle {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    margin-top: 0;
    opacity: 0;
    animation: fadeInSubtitle 0.75s 0.25s forwards;
}

@keyframes fadeInSubtitle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* About page container */
.about-page__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    text-align: justify;
    width: 80%;
    max-width: 1200px;
}

/* About content (image and text side by side) */
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

/* Styles for the image */
.about-image {
    width: 40%;
    border-radius: 10px;
    border-bottom: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: zoomFadeIn 0.5s forwards;
}

/* About text styles */
.about-text {
    width: 55%;
}

.about-title {
    opacity: 0;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    animation: zoomFadeIn 0.5s 0.1s forwards;
}

.about-description {
    opacity: 0;
    font-size: 1.25rem;
    line-height: 1.6;
    animation: zoomFadeIn 0.5s 0.3s forwards;
}

/* Media Queries */
/* Pantallas grandes y de escritorio (1024px o más) */
@media (max-width: 1334px) {
    .main-page__container-title {
        font-size: 5.5rem;
        /* Ajustar tamaño del título */
    }

    .main-page__container-subtitle {
        font-size: 1.75rem;
        /* Ajustar tamaño del subtítulo */
    }

    .header__icon {
        width: 32px;
        /* Ajustar tamaño del icono */
    }

    .main-page__container {
        top: 50%;
        /* Ajustar la posición del contenedor */
    }

    .mobile-menu {
        width: 20%;
    }
}

/* Pantallas medianas (768px a 1023px) */
@media (max-width: 1049px) {
    .main-page__container-title {
        font-size: 4rem;
        /* Reducir tamaño del título */
    }

    .main-page__container-subtitle {
        font-size: 1.5rem;
        /* Reducir tamaño del subtítulo */
    }

    .header__icon {
        width: 28px;
        /* Reducir tamaño del icono */
    }
    .about-page .header__icon {
        display: block;
    }
    
    .main-page__container {
        width: 80%;
        padding: 1.5rem 0;
        /* Ajustar ancho y padding del contenedor */
    }

    ul {
        gap: 4rem;
        /* Reducir el espacio entre los elementos de la lista */
    }

    .mobile-menu {
        width: 100%;
    }


    .about-title {
        display: none;
    }


    .about-content {
        flex-direction: column;
    }

    .about-image {
        width: 60%;
        margin-bottom: 1.5rem;
    }

    .about-text {
        width: 90%;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-description {
        font-size: 1.1rem;
    }

    .header__nav {
        display: none;
    }
}

/* Pantallas pequeñas (480px a 767px) */
@media (max-width: 767px) {
    .main-page__container-title {
        font-size: 3rem;
        /* Reducir aún más el tamaño del título */
    }

    .main-page__container-subtitle {
        font-size: 1.25rem;
        letter-spacing: 0.5rem;
        /* Reducir tamaño y espaciado del subtítulo */
    }

    .header__icon {
        width: 24px;
        /* Reducir tamaño del icono */
    }


    .main-page__container {
        width: 90%;
        padding: 1rem 0;
        /* Ajustar ancho y padding del contenedor */
    }


}

/* Pantallas muy pequeñas (menos de 480px) */
@media (max-width: 479px) {
    .main-page__container-title {
        font-size: 2.5rem;
        /* Reducir tamaño del título */
    }

    .main-page__container-subtitle {
        font-size: 1rem;
        letter-spacing: 0.25rem;
        /* Reducir tamaño y espaciado del subtítulo */
    }

    .header__icon {
        width: 20px;
        /* Reducir tamaño del icono */
    }


    .main-page__container {
        width: 95%;
        padding: 0.5rem 0;
        /* Ajustar ancho y padding del contenedor */
    }

    ul {
        gap: 1.5rem;
        /* Reducir el espacio entre los elementos de la lista */
        font-size: 8px;
    }

    li::after {
        height: 0.5px;

    }

    .about-description {
        font-size: 0.9rem;
    }

    .about-image {
        width: 70%;
    }
}