* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas', monospace;
    user-select: none;
}

.body {}

.body__background {
    position: fixed;
    top: -1rem;
    left: -1rem;
    width: 120%;
    height: 120%;
    z-index: -1;
    overflow: hidden;
}

.body__background-image {
    width: 110%;
    height: 110%;
    object-fit: cover;
    filter: blur(6px);
}


.body__background-image {
    width: 110%;
    height: 110%;
    object-fit: cover;
    filter: blur(6px);
    transition: filter 1s ease;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 15%;
    height: 100%;
    background: linear-gradient(135deg, rgba(196, 83, 248, 0.09), rgba(83, 196, 248, 0.09));
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mobile-menu__list li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.mobile-menu__close {
    background: none;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1.5rem;
    padding: 0;
}

.mobile-menu__close-icon {
    width: 28px;
    height: 28px;
    transition: filter 0.3s;
}

.mobile-menu__close:hover .mobile-menu__close-icon {
    filter: brightness(0.8);
}


.header {
    position: relative;
    padding: 1.5rem;
    height: 60px;
    transition: opacity 0.3s ease, visibility 0.3s ease;

}

.header.hiden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.header__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 32px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.regular-page .header__icon {
    display: none;
}

.header__icon:hover {
    transform: scale(1.1);
}


ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    letter-spacing: 5px;
}

.main-page__nav {
    gap: 10rem;
}

li {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
    font-weight: bold;
}

li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease;
}

li:hover::after {
    width: 100%;
}

li.active::after {
    width: 100%;
}


.main-page__container {
    position: absolute;
    /* Usamos posición absoluta para colocarlo respecto al viewport */
    top: 50%;
    /* Lo posiciona verticalmente al 50% */
    left: 50%;
    /* Lo posiciona horizontalmente al 50% */
    transform: translate(-50%, -50%);
    /* Ajusta la posición para centrarlo perfectamente */

    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(196, 83, 248, 0.09), rgba(83, 196, 248, 0.09));
    width: 60%;
    padding: 2rem 0;
    border-bottom: white 1px solid;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


/* Animación para el título (zoom y fade-in) */
.main-page__container-title {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    opacity: 0;
    transform: scale(0.8);
    animation: zoomFadeIn 0.5s forwards;
}

@keyframes zoomFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Animación para el subtítulo (aparece después del título) */
.main-page__container-subtitle {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    margin-top: 0;
    opacity: 0;
    animation: fadeInSubtitle 0.75s 0.25s forwards;
}

@keyframes fadeInSubtitle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* About page container */
.about-page__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    text-align: justify;
    width: 80%;
    max-width: 1200px;
}

/* About content (image and text side by side) */
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

/* Styles for the image */
.about-image {
    width: 40%;
    aspect-ratio: 1 / 1;
    /* Mantener la imagen cuadrada */
    object-fit: cover;
    /* Asegurar que la imagen no se deforme */
    border-bottom: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: zoomFadeIn 0.5s forwards;
}

/* About text styles */
.about-text {
    width: 55%;
}

.about-title {
    opacity: 0;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    animation: zoomFadeIn 0.5s 0.1s forwards;
}

.about-description {
    opacity: 0;
    font-size: 1.25rem;
    line-height: 1.6;
    animation: zoomFadeIn 0.5s 0.3s forwards;
}

.projects-page__container {
    color: white;
    text-align: center;
    width: 95%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, rgba(196, 83, 248, 0.09), rgba(83, 196, 248, 0.09));
    padding: 3rem 2rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

.projects-title {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 2rem;
    animation: zoomFadeIn 0.6s ease-in-out forwards;
}

.project-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 proyectos por fila */
    gap: 1rem;
    /* Espacio entre proyectos */
    justify-items: stretch;
    /* Asegura que los elementos ocupen todo el ancho disponible */
    width: 100%;

}

.project-card {
    display: flex;
    flex-direction: row;
    /* Los elementos dentro de la tarjeta se dispondrán en fila (horizontal) */
    background: rgba(255, 255, 255, 0.08);
    overflow: hidden;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin: 0;
    width: 100%;
    max-width: 100%;
    transform: translateY(30px);
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
    text-align: left;
    /* Alineamos el texto a la izquierda */
    box-sizing: border-box;
    justify-content: flex-start;
    border-bottom: 2px solid white;
}

.project-card:nth-child(1) {
    animation-delay: 0.2s;
}

.project-card:nth-child(2) {
    animation-delay: 0.4s;
}

.project-card:nth-child(3) {
    animation-delay: 0.6s;
}

.project-card:nth-child(4) {
    animation-delay: 0.8s;
}

.project-card img {
    max-width: 40%;
    /* La imagen puede ocupar hasta el 100% del ancho disponible */
    height: auto;
    /* Mantener la proporción de la imagen */
    margin-right: 1.5rem;
    /* Espacio entre la imagen y el texto */
}

.project-text {
    display: flex;
    flex-direction: column;
    /* Asegura que el título esté encima del párrafo */
    text-align: justify;
}

.project-card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.project-card p {
    font-size: 1rem;
    line-height: 1.4;
}

.project-divider {
    grid-column: 1 / -1;
    /* Ocupa todas las columnas del grid */
    height: 2px;
    background-color: white;
    opacity: 0.3;
    margin-top: 2rem;
    margin-bottom: 1rem;
    animation: extendLine 1s ease-in-out forwards;
}

/* Animación opcional para que la línea aparezca suavemente */
@keyframes extendLine {
    from {
        width: 0%;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 0.3;
    }
}

@keyframes zoomFadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background: linear-gradient(135deg, rgba(196, 83, 248, 0.09), rgba(83, 196, 248, 0.09));
    color: white;
    padding: 2rem;
    width: 90%;
    height: 90%;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease-out;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    6 z-index: 10;
    filter: invert(1);
}

.modal-close-icon {
    width: 24px;
    height: 24px;
    filter: invert(1);
    /* para que sea blanco si es un SVG oscuro */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}






































/* Media Queries */
/* Pantallas grandes y de escritorio (1024px o más) */
@media (max-width: 1334px) {
    .main-page__container-title {
        font-size: 5.5rem;
        /* Ajustar tamaño del título */
    }

    .main-page__container-subtitle {
        font-size: 1.75rem;
        /* Ajustar tamaño del subtítulo */
    }

    .header__icon {
        width: 32px;
        /* Ajustar tamaño del icono */
    }

    .main-page__container {
        top: 50%;
        /* Ajustar la posición del contenedor */
    }

    .mobile-menu {
        width: 20%;
    }

    /* Para las tablets, ajustar proyectos */
    .project-box {
        grid-template-columns: 1fr;
        /* Un solo proyecto por fila */
    }

    .project-card img {
        width: 20%;
        /* Reducir tamaño de la imagen */
        margin-bottom: 1rem;
    }

    .about-title {
        font-size: 2rem;
        /* Ajustar tamaño del título */
    }

    .about-description {
        font-size: 1.1rem;
        /* Ajustar tamaño del párrafo */
    }


}

/* Pantallas medianas (768px a 1023px) */
@media (max-width: 1049px) {
    .main-page__container-title {
        font-size: 4rem;
        /* Reducir tamaño del título */
    }

    .main-page__container-subtitle {
        font-size: 1.5rem;
        /* Reducir tamaño del subtítulo */
    }

    .header__icon {
        width: 28px;
        /* Reducir tamaño del icono */
    }

    .regular-page .header__icon {
        display: block;
    }

    .main-page__container {
        width: 80%;
        padding: 1.5rem 0;
        /* Ajustar ancho y padding del contenedor */
    }

    .main-page__nav {
        gap: 1.5rem;
        /* Reducir el espacio entre los elementos de la lista */
        font-size: 8px;
    }


    .mobile-menu {
        width: 100%;
    }

    .about-title {
        display: none;
    }

    .about-content {
        flex-direction: column;
    }

    .about-image {
        width: 60%;
        margin-bottom: 1.5rem;
    }

    .about-text {
        width: 90%;
    }


    .about-description {
        font-size: 1.1rem;
    }

    .header__nav {
        display: none;
    }

    .project-card img {
        width: 80%;
        /* Reducir tamaño de la imagen */
        margin-bottom: 1rem;
    }

    .project-text {
        width: 100%;
        /* El texto ocupará todo el ancho disponible */
    }

    .project-card h3 {
        font-size: 1.3rem;
        /* Ajustar tamaño del título */
    }

    .project-card p {
        font-size: 1rem;
        /* Ajustar tamaño del párrafo */
    }
}

/* Pantallas pequeñas (480px a 767px) */
@media (max-width: 767px) {
    .main-page__container-title {
        font-size: 3rem;
        /* Reducir aún más el tamaño del título */
    }

    .main-page__container-subtitle {
        font-size: 1.25rem;
        letter-spacing: 0.5rem;
        /* Reducir tamaño y espaciado del subtítulo */
    }

    .header__icon {
        width: 24px;
        /* Reducir tamaño del icono */
    }

    
    .main-page__nav {
        gap: 4rem;
        font-size: ;
    }

    .main-page__container {
        width: 90%;
        padding: 1rem 0;
        /* Ajustar ancho y padding del contenedor */
    }

    /* Para pantallas muy pequeñas, ajustar proyectos */
    .project-box {
        grid-template-columns: 1fr;
        /* Un solo proyecto por fila */
    }

    .project-card {
        flex-direction: column;
        /* Colocar la imagen arriba (aunque no haya texto) */
        align-items: center;
        /* Centrar contenido */
        text-align: center;
        /* Centramos todo en el contenedor */

        width: 100%;
    }

    .project-card img {
        width: 100%;
        /* La imagen ocupa el 100% del contenedor */
        height: auto;
        /* Mantener la proporción de la imagen */
        max-width: 100%;
        /* Asegura que no se salga del contenedor */
        margin: 0 auto;
        /* Centrar la imagen horizontalmente */
        display: block;
        /* Asegura que se comporte como un bloque para centrado */
    }

    /* Desactivar la visualización del texto en móviles */
    .project-card h3,
    .project-card p {
        display: none;
        /* Ocultar el título y la descripción */
    }

    .projects-title {
        font-size: 3rem;
        /* Ajustar tamaño del título */
    }
}

/* Pantallas muy pequeñas (menos de 480px) */
@media (max-width: 479px) {
    .main-page__container-title {
        font-size: 2.5rem;
        /* Reducir tamaño del título */
    }

    .main-page__container-subtitle {
        font-size: 1rem;
        letter-spacing: 0.25rem;
        /* Reducir tamaño y espaciado del subtítulo */
    }

    .header__icon {
        width: 20px;
        /* Reducir tamaño del icono */
    }

    .main-page__container {
        width: 95%;
        padding: 0.5rem 0;
        /* Ajustar ancho y padding del contenedor */
    }


    li::after {
        height: 0.5px;
    }

    .about-description {
        font-size: 0.9rem;
    }

    .about-image {
        width: 70%;
    }


    .projects-title {
        font-size: 2rem;
        /* Ajustar tamaño del título */
    }

    .project-divider p {
        font-size: 0.8rem;
        /* Ajustar tamaño del texto */
    }


}