body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    margin-top: 200px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fafafa;
}

span {
    font-weight: bold;
    color: red;
    font-size: 20px;
}

input {
    border-radius: 5px;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 75%;
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
    border-radius: 5px;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    resize: vertical;
    min-height: 150px;
    width: 75%;
}

textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-right: 280px;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: #004494;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}