body {
display: flex;
justify-content: center;
margin-top: 200px;
}


div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}