* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.div_padre {
    height: 250px;
    width: 250px;
    background-color: green;
    padding: 0;
    margin: 0 auto;
    /*border: solid;*/
    border: outset;

}

.div_hijo {
    height: 50%;
    width: 50%;
    background-color: blue;
    /*margin: 62.5px;*/
    margin: 25% auto;
    /*border: dotted;*/
    border: ridge;

}