* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.div_padre{
    height: 500px;
    width: 300px;
    background-color: green;
    padding: 50px;

}
.div_hijo{
    height: 200%;
    width: 70%;
    background-color: blue;

}