/* Reset CSS: Elimina los márgenes, padding y bordes predeterminados de todos los elementos */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Estilo para los párrafos idénticos a los de la página de referencia*/
p {
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: #848484;
}

/* Estilos para el encabezado */
header {
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: center;

}

/* Estilos para la navegación */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
}

/* Estilos para los elementos de la navegación */
.nav__item {
    width: 33.3%;
    display: flex;
}

/* Alineación de logo y menú */
.nav__item--logo {
    justify-content: left;

}

/* Menú de navegación */
.nav__item--menu {
    justify-content: right;
}

.nav__item {
    height: 25px;
}

/* Enlaces del menú */
.nav__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/* Efecto hover en enlaces */
.nav__menu a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
    letter-spacing: 2px;
}

.nav__menu a:hover {
    transform: scale(1.1);
    /* Pequeño zoom */
    color: #777;
    /* Cambio a grisáceo */
}

/* Contenedor principal con grid para organizar las imágenes de la misma manera que la página de referencia*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: #fff;
    padding: 0;
    margin: 1vw;
    gap: 5px;
    grid-auto-flow: row dense;
}

/* Estilos para las cajas que contendrán las imágenes */
.box {
    display: flex;
    background-color: #444;
    color: white;
    font-size: 150%;
    overflow: hidden;
    align-items: center;
}

/* Estilos para las imágenes dentro de los contenedores */
.box img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    transition: transform 0.3s ease-in-out;
}

/* Efecto hover en las imágenes que imita el desplazamiento que ocurre en la página de referencia*/
.box img:hover {
    transform: translateY(-10px);
}

/* Posicionamiento de todas las cajas para que tengan el mismo tamaño y posición que en la página de referencia */
.a {
    grid-area: 1 / 1 / 1 / 1;
}

.b {
    grid-area: 1 / 2 / 2 / 2;
}

.c {
    grid-area: 1 / 3 / 3 / 4;
}

.e {
    grid-area: 1 / 5 / 3 / 7;
}

.i {
    grid-area: 3 / 1 / 5 / 3;
}

.l {
    grid-area: 3 / 5 / 5 / 6;
}

.q {
    grid-area: 5 / 1 / 6 / 3;
}

/* Estilos para el contenedor que aloja el contenido final de la página */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 5vw auto 50px auto;
    text-align: center;
}

.img__footer {
    margin: 15px;
}

.social__media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

}

/* Estilo para los iconos de las redes sociales */
.social__media img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    transition: transform 0.3s ease-in-out;
    margin-top: 50px;
}

/* Estilos para el footer idéntico a la página de referencia */
footer {
    width: 100%;
    color: #444;
    text-align: center;
    padding: 10px 0;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    line-height: 33px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    color: #848484;
    margin-top: 75px;
}

/* Media queries para adaptar el diseño en diferentes tamaños de pantalla */
@media (max-width: 1200px) {

    /* Adapatación de las filas y columnas del grid en el wrapper para que se vean correctamente los contenedores de las imágenes */
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);

    }

    .e {
        grid-area: 1 / 4 / 2 / 6;
    }

    .e {
        z-index: 3;
        background-color: red;
        grid-area: 5 / 1/ 7 / 3;
    }

    .j {
        z-index: 3;
        background-color: red;
        grid-area: 7 / 1 / 7 / 2;
    }

    .q {
        z-index: 3;
        background-color: red;
        grid-area: 6 / 3 / 7 / 5;
    }

    .m {
        z-index: 3;
        background-color: red;
        grid-area: 7 / 2 / 7 / 3;
    }

    .n {
        z-index: 3;
        background-color: red;
        grid-area: 7 / 3 / 7 / 4;
    }

    .l {
        z-index: 3;
        background-color: red;
        grid-area: 3 / 4 / 5 / 5;
    }

    .o {
        z-index: 3;
        background-color: red;
        grid-area: 5 / 3 / 6 / 4;
    }


}

@media (max-width: 992px) {

    /* Adapatación de las filas y columnas del grid en el wrapper para que se vean correctamente los contenedores de las imágenes */
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    /* Reposicionamiento de los contenedores de las imágenes para su correcta visualización */
    .q {
        z-index: 3;
        background-color: blue;
        grid-area: 10 / 1 / 9 / 3;
    }

    .d {
        z-index: 3;
        background-color: blue;
        grid-area: 9 / 1 / 8 / 2;
    }

    .f {
        z-index: 3;
        background-color: blue;
        grid-area: 9 / 2 / 8 / 3;
    }

    .l {
        z-index: 1;
        background-color: green;
        grid-area: 9 / 3 / 7 / 4;
    }

    .n {
        z-index: 1;
        background-color: green;
        grid-area: 10 / 3 / 9 / 4;
    }

    /* Oculta los icónos del menú de navegación */
    .nav__menu {
        display: none;
    }

    .nav__item--menu {
        display: none;
    }

    .nav__item--logo {
        display: none;
    }

    /* Alineación del logo en el centro */
    .nav__item {
        justify-content: center;
    }

    nav {
        justify-content: center;
    }

    header {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    header {
        height: 10vw;
    }

    /* Adapatación de las filas y columnas del grid en el wrapper para que se vean correctamente los contenedores de las imágenes */
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(15, 1fr);
    }

    /* Reposicionamiento de los contenedores de las imágenes para su correcta visualización */
    .c {
        z-index: 3;
        background-color: blue;
        grid-area: 1 / 2 / 3 / 3;
    }

    .l {
        z-index: 6;
        background-color: pink;
        grid-area: 10 / 1 / 12 / 2;
    }

    .e {
        z-index: 6;
        background-color: pink;
        grid-area: 12 / 1 / 14 / 3;
    }

    .g {
        z-index: 6;
        background-color: pink;
        grid-area: 14 / 1 / 15 / 2;
    }

    .n {
        z-index: 6;
        background-color: pink;
        grid-area: 14 / 2 / 15 / 3;
    }

    .h {
        z-index: 6;
        background-color: pink;
        grid-area: 6 / 1 / 7 / 2;
    }

    .k {
        z-index: 6;
        background-color: pink;
        grid-area: 6 / 2 / 7 / 3;
    }

    .p {
        z-index: 6;
        background-color: pink;
        grid-area: 5 / 1 / 6 / 2;
    }

    .r {
        z-index: 6;
        background-color: pink;
        grid-area: 5 / 2 / 6 / 3;
    }

    .s {
        z-index: 6;
        background-color: pink;
        grid-area: 10 / 2 / 11 / 3;
    }

    .t {
        z-index: 6;
        background-color: pink;
        grid-area: 11 / 2 / 12 / 3;
    }

    .o {
        z-index: 6;
        background-color: black;
        grid-area: 15 / 2 / 16 / 3;
    }

    .u {
        z-index: 6;
        background-color: black;
        grid-area: 15 / 1 / 16 / 2;
    }

    .b {
        z-index: 6;
        background-color: black;
        grid-area: 2 / 1 / 2 / 2;
    }
}

@media (max-width: 576px) {

    /* Adapatación de las filas y columnas del grid en el wrapper para que se vean correctamente los contenedores de las imágenes */
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(21, 1fr);
        gap: 0;
    }

    /* Reposicionamiento de los contenedores de las imágenes para su correcta visualización */
    .box {
        grid-area: span 1 / span 1 / span 1 / span 1;
        background-color: white;
    }

    .box img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }


}