body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 100px;
}

div {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

div:hover {
    background-color: red;
    transform: scale(1.5);
}
