body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('src/vortex.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

video:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

