* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    background-color: black;
}

h1 {
    font-size: 4.75em;
    color: white;
    font-weight: 600;
}

span {
    color: #4070f4;
}

p {
    font-size: 2em;
    color: white;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 100vh;
    margin-left: 10vw;
}

.container-content .text {
    position: relative;
    color: #4070f4;
    font-size: 24px;
    font-weight: 600;
}

.container-content .text.first-text {
    color: white;
}

.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid white;
    animation: animate 6s steps(20) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}